.body-wrapper {
  background-color: rgb(82, 49, 73);
      background-image: linear-gradient(90deg, rgb(82, 49, 73), rgb(57, 24, 98));

}
.actionable-container {
    margin: 120px auto 180px auto;
    max-width: 711px;
    background-color:white;
    border: solid black 1px;
    min-height: 3000px;
}
.video-editor {
  margin: 0 auto
}
h1, h3 {
  font-family: 'Karla', sans-serif;
}
h1, h3,body {
  text-align: center;
}
h1 {
  font-size:88px;
}
body {
  font-family: 'Oxygen', sans-serif;
}
button {
    margin: 4px;
}
#create-gfy-button {
  background-color: white;

    border: 1px solid black;
}
#video-placeholder{
    max-width: 35%;
    width: 100%;
    position: fixed;
    top: 130px;
    right: 40px;
}
#video-url-input {
  width: 70%;
  margin-bottom: 40px;
}
#gfy-range {
  width: 33%;
  margin: 6px auto 15px auto;
}
.gfy-creation-controls {
  margin: 20px 0px 80px 0px;
}
.logo {
  height: 22px;
}
.title-wrapper {
  margin: 14px 20px 14px 20px;
}



/*DRAGGABLE TABLE STYLES*/

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#draggable-element.over {
  border: 2px dashed #000;
}

#imgBox {
  border-width: 1px;
  //border: solid 2px white;
  height: 70%;
}

.txtBox {
    resize: none;
	padding: 5px;
	margin-top: 5px;
	width:100%;
	//height: 100%;
	box-sizing: border-box;
	border: solid 1px;
	font:18px cursive;
	color: black;
	background: white;
	-webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.txtBox-textOnly {
    resize: none;
	padding: 5px;
	width:100%;
	height: 100%;
	box-sizing: border-box;
	border: solid 1px;
	font:18px cursive;
	color: black;
	background: white;
	-webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.draggable-element {
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 48%;
  height: 400px;
  padding: 10px;
  //background-color: #929799;
  cursor: move;
  float: left;
  /* important (all position that's not `static`) */

background: #cb60b3;
background: -moz-linear-gradient(top,  #cb60b3 0%, #bf82ae 50%, #ef86c9 100%);
background: -webkit-linear-gradient(top,  #cb60b3 0%,#bf82ae 50%,#ef86c9 100%);
background: linear-gradient(to bottom,  #cb60b3 0%,#bf82ae 50%,#ef86c9 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cb60b3', endColorstr='#ef86c9',GradientType=0 );

	-webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
		margin: 5px;
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
	transform: scale(1.0)
  }
  to {
    opacity: 0.4;
	transform: scale(0.5)
  }
}

.fadeOut {
	animation-duration: 0.55s;
	animation-fill-mode: forwards;
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}
